<md-toolbar color="accent">
  <div class="top-bar-content">
    <a routerLink="/" class="home-link">
      <md-icon>home</md-icon>
    </a>
    <md-select color="primary" [(ngModel)]="namespace">
      <md-option value="playground">Playground</md-option>
      <md-option value="pc">PC</md-option>
    </md-select>
    <input name="path" [(ngModel)]="path">
  </div>
</md-toolbar>
<div class="api-editor" *ngIf="apiItem != null">
  <div class="form-row">
    <md-input-container>
      <input md-input placeholder="API Description" [(ngModel)]="apiItem.description"/>
    </md-input-container>
    <md-slide-toggle></md-slide-toggle>
  </div>
  <div class="http-item">
    <strong>Status:</strong>
    <span>{{apiItem.response.content.status}}</span>
  </div>
  <div class="http-item">
    <strong>Headers:</strong>
  </div>
  <div class="http-item">
    <strong>Content-Type:</strong>
    <md-select [(ngModel)]="apiItem.response.content.type">
      <md-option value="json">JSON</md-option>
      <md-option value="jsonp">JSONP</md-option>
      <md-option value="html">HTML</md-option>
    </md-select>
  </div>
  <div class="http-item">
    <strong>Body:</strong>
    <div class="editor-container">
      <app-json-editor [value]="apiItem.response.content.body" [type]="apiItem.response.content.type" (onChange)="updateJsonContent($event)"></app-json-editor>
    </div>
  </div>
  <div>
    <button md-raised-button color="primary" (click)="update()">
      <md-icon>save</md-icon>
      Save
    </button>
  </div>
</div>
