<div class="api-editor">
  {{apiItem.description}}
  <div class="form-row">
    <md-input-container>
      <input md-input placeholder="API Description" [(ngModel)]="apiItem.description"/>
    </md-input-container>
    <md-slide-toggle></md-slide-toggle>
  </div>
  <div class="http-item">
    <strong>Status:</strong>
    <span>{{apiItem.response.content.status}}</span>
  </div>
  <div class="http-item">
    <strong>Headers:</strong>
  </div>
  <div class="http-item">
    <strong>Body:</strong>
    <div class="editor-container">
  <textarea id="json">{{apiItem.response.content.body}}</textarea>
    </div>
  </div>
  <div>
    <button md-raised-button color="primary" disabled>
      <md-icon>save</md-icon>
      Save
    </button>
  </div>
</div>
